@tailwind base;
@tailwind components;
@tailwind utilities;



.btn {
  background: linear-gradient(
    45deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  /* box-shadow: 120px 120px 120px 2px black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* .btn:hover { */
  /* transition: all; */
  /* background: linear-gradient( */
    /* 92.23deg, */
    /* 100deg, */
    /* #406aff 21.43%, */
    /* #3bace2 50.63%, */
    /* #b936ee 100%, */
    /* #ff56f6 117.04% */
  /* ); */
  /* animation: gradient 15s ease infinite; */
  /* transform: translateY(20px); */
  /* transition-timing-function: ease-out; */
  /* transition-duration: 1s; */
  /* transition-property: translateY(10px); */
  /* box-shadow: 0px 4.42184px 107.23px black; */
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px; */
/* } */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.gradient,
.active {
  background: linear-gradient(
    45deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  /* box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51); */
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text-gradient{
  background: linear-gradient(
    45deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
  background-size: 400% 400%;
  color: transparent;
  --webkit-background-clip: text;
  animation: gradient 3s ease infinite;
  background-clip: text;
  /* box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51); */
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
 } 

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
  box-shadow: 0px 4.42184px 120px black;
}

.background{
  background-color: #610d83;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium flex justify-center items-center cursor-pointer w-fit hover:-translate-y-1 hover:scale-110 duration-200;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base px-8 drop-shadow-xl cursor-pointer transition ease-in-out delay-150;
  }
  .text-gradient {
    @apply font-bold font-primary drop-shadow-xl;
  }
  .section {
    @apply  my-10 flex items-center justify-center;
  }
}


